<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Интернет-магазин овощей</title>
</head>

<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        </ul>
    </nav>

    @*<footer>
            Колхоз Светлый путь, 2019г.
        </footer>*@

    <tr>
        <td style="width:100%;" align="center" class="footer_text">
            aaaaaafffff

        </td>

    </tr>
    @RenderBody()
</body>

</html>

