body {
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}

#wrapper {
    width: 1000px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    /*border-radius: 25px;*/
}

/*#banner {
}*/

#navigation {
    height: 45px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
}

#nav {
    display: block;
    list-style: none;
    text-align: center;
}

    #nav ul {
        display: none;
        list-style: none;
    }

    #nav li {
        float: left;
        display: block;
        margin-top: 15px;
        text-transform: uppercase;
        padding: 0px 20px 0px 20px;
        border-left: 1px solid, #ffffff;
    }

    #nav a:link, #nav a :visited, #nav a:active {
        display: block;
        color: #574c3f;
        text-decoration: none;
    }

    #nav a:hover {
        background-color: white;
    }

#content {
    padding: 20px;
    min-height: 400px;
}

#ContentPlaceHolder1_pnlProducts div {
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
}

.productImage {
    width: 200px;
    height: 200px;
    vertical-align: central;
    padding: 10px;
    border-radius: 20px;
}

.productName {
    font-size: 18px;
    font-weight: bold;
}

.productPriceAndAviable {
    font-family: Arial, Helvetica, sans-serif;
    color: #ea9b1e;
}

.detailsImage {
    width: 315px;
    height: 235px;
    margin-right: 20px;
}

.detailsDescription{
    width: 35%;
    font-style: italic;
}

.detailsPrice{
    font-size:20px;
    font-weight:bold;
}

.button{
    padding: 10px;
    margin: 10px;
    color:black;
    border:0;
    border-radius:4px;
    clear:both;
    background:linear-gradient(to bottom, white, green);
}

.inputs {
    border-radius: 5px;
    background-color: #EAEAEA;
    background: linear-gradient(top, #FFF, #EAEAEA);
    border: 1px, solid, #CACACA;
    color: #444;
    margin: 0 0 25px;
    padding: 5px, 9px;
    width: 260px;
}

.inputs:focus{
    background: #FFF;
    box-shadow: 0 0 25px, #CCC;
}


/*#footer {
}*/
